@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;400;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif ;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-input, .ant-picker, .ant-select-selector {
    background: #fbfbfb !important;
    box-shadow: 0 0 5px #02858a14 !important;
    border-radius: 0px !important;
}
.ant-input:hover, .ant-input:focus, .ant-picker:hover, .ant-picker:focus, .ant-select-selector:hover, .ant-select-selector:focus {
    border-color: #02858a;
}

/* header starts */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background: #02858a;
}
.demo-logo {
    color: #fff;
    font-size: 20px;
    
}
/* header ends */

/* registration page starts */
.content-wrapper {
    padding: 0 15% 30px;
    background-color: #02858a0d;
}
.breadcrumb-menu {
    margin: 16px 0;
}
.registration-container {
    padding: 24px ;
    background: #ffffffae;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    border: 2px solid #fff;
    box-shadow: 0 0 10px #02858a21;
    border-radius: 10px;
    min-height: 73vh;
}
.form-tabs .ant-tabs-tab-active, .form-tabs .ant-tabs-tab-active .ant-tabs-tab-btn, .form-tabs .ant-tabs-tab-active .ant-tabs-tab-btn:hover, .form-tabs .ant-tabs-tab-active .ant-tabs-tab-btn:focus {
    color: #ffffff !important;
    background: #02858a !important;
    margin-bottom: -1px !important;
    font-size: 16px;
    cursor: default !important;
    border: none !important;
}
.form-tabs .ant-tabs-tab-btn:focus, .form-tabs .ant-tabs-tab-btn:hover,.form-tabs .ant-tabs-tab:hover {
    color: rgba(0, 0, 0, 0.88) !important;
}
.form-tabs .ant-tabs-tab  {
    font-size: 16px;
    cursor: default !important;
    background: rgb(2 133 138 / 10%);
}
.form-tabs .ant-tabs-nav {
    border-bottom: 2px solid #02858a;
}
.form-wrapper {
    position: relative;
    padding: 20px 0 70px;
}
.form-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.horizontal-form-field-wrapper {
    display: flex;
    justify-content: space-between;
}
.horizontal-form-field-wrapper>* {
    flex: 0 1 45%;
    padding-right: 20px;
}
.horizontal-form-field {
    padding-right: 20px;
}
.form-field-wrapper {
    display: flex;
    align-items: center;
}
.form-field-wrapper>* {
    flex: 0 1 33%;
    padding-right: 20px;
}
.form-datepicker {
    width: 100%;
}
.next-button-wrapper {
    position: absolute;
    bottom: 0;
    right: 32px;
}
.next-button {
    color: #333;
    font-size: 20px;
    height: 50px;
    background: #fff;
    border: 1px solid #238e92;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.next-button:hover {
    box-shadow: 0 5px 15px #ccc;
    background: #238e92 !important;
}
.confirm-data-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.cofirm-data-label, .cofirm-data-value{
    font-size: 16px;
}
.cofirm-data-label {
    font-weight: 500;
}

/* registration page ends */

/* Footer starts */
.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    background: #238e9233;
}
/* Footer ends */

/* Responsive */

@media (max-width: 500px) {
    /* header starts */
    .page-header {
        padding: 0 5%;
    }
    /* header ends */

    /* registration page starts */
    .content-wrapper {
        padding: 0 5%;
    }
    .form-wrapper {
        padding: 20px 0;
    }
    .horizontal-form-field-wrapper, .form-field-wrapper {
        flex-direction: column;
        align-items: unset;
    }
    .horizontal-form-field {
        padding-right: 0;
    }
    .next-button-wrapper .ant-space {
        flex-wrap: wrap;
    }
    .next-button-wrapper {
        position: static;
        text-align: left;
        margin-top: 20px;
    }
    .next-button {
        font-size: 17px;
        height: 40px;
    }
    /* registration page ends */
}